:root {
	--background: #000;
	--highlight: #ffffff21;
	--text: #fff;
	--button-size: 5rem;
}

* {
	margin: 0;	
	font-family: "Nunito", sans-serif;
	font-weight: bold;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#canvas {
	border-radius: 4px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#ui {
	display: flex;
}
