:root {
	--background: #000;
	--highlight: #ffffff21;
	--text: #fff;
	--button-size: 5rem;
}

* {
	margin: 0;	
	font-family: "Nunito", sans-serif;
	font-weight: bold;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.canvas {
	border-radius: 4px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#ui {
	position: absolute;
	left: -15rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 3rem;
}

.big-checkbox {
	transform: scale(1.5);
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
	height: 60px;
	margin-right: 1rem;
}

.hidden {
	display: none;
}
